@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



 #light {
    background-color: white;
    color: black;
 }
 #dark{
    background-color:rgb(19, 10, 32);
 }
 #dark .profile-box{
   background-color: rgb(109, 105, 105);
   color: black;
 }

 #light .container{
    background-color:rgb(250, 247, 247);
    
 }

 #dark .share-icon{
   color: white;

 }
 #light .content{
    color: black;
    
 }

#light .sun-icon{
    background-color: yellow;
    border-radius: 50%;
}

 #light .sun-icon:hover{
    
    
    padding: 4px;
 }
 #dark .moon-icon{
    color: white;
    background-color: rgb(23, 150, 218);
    border-radius: 50%;
    padding: 4px;
 }

 #dark .moon-icon:hover{
    border-radius: 50%;
    padding: 4px;
    
    
 }

 .nav-items{

background-color:  rgb(17 24 39 / var(--tw-bg-opacity, 1)) ;
padding: 1rem;
color: white;
display: flex;
justify-content: space-between;
 }

 .footer-color{
   background-color: rgb(5, 5, 37);
 }
  
 .footer-icon{
   display: flex;
   gap: 1.5rem;
 }

  
/* styles/navbar.css */
.navbar {
   background-color: #111827; /* Dark background */
   padding: 1rem;
 }
 
 .navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
 }
 
 .navbar-logo {
   display: flex;
   align-items: center;
   font-size: 1.25rem;
   font-weight: bold;
 }
 
 .navbar-links {
   display: none;
 }
 
 .navbar-links a {
   margin-left: 1.5rem;
   transition: color 0.3s ease-in-out;
 }
 
 .navbar-links a:hover {
   color: #7393ca; /* Gray on hover */
 }
 
 /* Mobile Menu */
 .navbar-menu {
   text-align: center;
   padding: 1rem 0;
   color: white;
   font-size: larger;
   font-weight: 600;
 }
 
 .navbar-menu a {
   display: block;
   padding: 0.5rem;
   transition: color 0.3s ease-in-out;
 }
 
 .navbar-menu a:hover {
   color: #7aa6f1;
   border: 2px solid white;
   
 }
 
 /* Responsive */
 @media (min-width: 768px) {
   .navbar-links {
     display: flex;
     font-size: larger;
     
   }
 }
 